body {
  background-color: dodgerblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  border: whitesmoke solid 4px;
  width: 50%;
  background-color: rgb(88, 157, 225);
  margin: 0px auto;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}
div {
  text-align: center;
  background-color: darkblue;
  border: whitesmoke solid 4px;
  margin: 0px auto;
  width: 350px;
}

form {
  text-align: center;
}

p {
  font-size: 20px;
  color: whitesmoke;
  margin-bottom: 5px;
  margin-top: 15px;
}

input {
  margin-bottom: 20px;
  padding: 6px;
  width: 70%;
}

#submit {
  margin-top: 10px;
  font-size: 15px;
}

a {
  color: whitesmoke;
  margin-bottom: 10px;
  display: block;
}
