.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkturquoise;
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: solid 2px black;
}

.input {
  margin: 5px;
  width: 80%;
  border-radius: 5px;
}

.button {
  margin: 5px;
  border-radius: 5px;
}

.anchor {
  margin: 5px;
  color: black;
}

.off {
  display: none;
}
